<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_for @user do |f| %>
          <div class="form-group">
            <%= f.label :ユーザー名 %>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <%= f.label :メールアドレス %>
            <%= f.text_field :email %>
          </div>
          <div class="form-group">
            <%= f.label :パスワード %>
            <%= f.password_field :password %>
          </div>
          <div class="form-group">
            <%= f.label :パスワードの確認 %>
            <%= f.password_field :password_confirmation %>
          </div>

          <%= f.submit "新規登録" %>
        <% end %>
        <%= link_to 'ログインはこちら', '#' %>

      </div>
    </div>
  </div>
</div>
