<div class="main posts-index">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="post-content">
          <h3>Popular Photos</h3>
          <!-- Instafeed target div -->
          <div id="instafeed"></div>
          <div class="row posts-wrap">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="post-box">
                <div class="post-user-data">
                  <div class="post-user-image">
                    <img src="<%= "/user_images/default_user.png" %>">
                  </div>
                  <div class="post-user-name">
                    test
                  </div>
                </div>
                <div class="post-data">
                  <div class="image-wrap">
                    <img src="<%= "/user_images/default_user.png" %>">
                    <div class="likes">309 Likes</div>
                  </div>
                  <div class="post-description">
                    Fantastic Architecture #architecture #testing
                    <div class="date">September 16, 2014</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="post-box">
                <div class="image-wrap">
                  <img src="<%= "/user_images/default_user.png" %>">
                  <div class="likes">309 Likes</div>
                </div>
                <div class="post-description">
                  Fantastic Architecture #architecture #testing
                  <div class="date">September 16, 2014</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="post-box">
                <div class="image-wrap">
                  <img src="<%= "/user_images/default_user.png" %>">
                  <div class="likes">309 Likes</div>
                </div>
                <div class="post-description">
                  Fantastic Architecture #architecture #testing
                  <div class="date">September 16, 2014</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="post-content">
          <h3>Latest Photos</h3>
          <!-- Instafeed target div -->
          <div id="instafeed"></div>
          <div class="row posts-wrap">
            <% @posts.each do |post| %>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="post-box">
                <!-- <div class="post-user-image">
                  <img src="<%= "/user_images/default_user.png" %>">
                </div>
                <div class="post-user-name">
                  test
                </div> -->
                <div class="image-wrap">
                  <img src="<%= "/user_images/default_user.png" %>">
                  <div class="likes">309 Likes</div>
                </div>
                <div class="post-description">
                  Fantastic Architecture #architecture #testing
                  <div class="date">September 16, 2014</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="post-box">
                <div class="image-wrap">
                  <img src="<%= "/user_images/default_user.png" %>">
                  <div class="likes">309 Likes</div>
                </div>
                <div class="post-description">
                  Fantastic Architecture #architecture #testing
                  <div class="date">September 16, 2014</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="post-box">
                <div class="image-wrap">
                  <img src="<%= "/user_images/default_user.png" %>">
                  <div class="likes">309 Likes</div>
                </div>
                <div class="post-description">
                  Fantastic Architecture #architecture #testing
                  <div class="date">September 16, 2014</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="post-box">
                <!-- <div class="post-user-image">
                  <img src="<%= "/user_images/default_user.png" %>">
                </div>
                <div class="post-user-name">
                  test
                </div> -->
                <div class="image-wrap">
                  <img src="<%= "/user_images/default_user.png" %>">
                  <div class="likes">309 Likes</div>
                </div>
                <div class="post-description">
                  Fantastic Architecture #architecture #testing
                  <div class="date">September 16, 2014</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="post-box">
                <div class="image-wrap">
                  <img src="<%= "/user_images/default_user.png" %>">
                  <div class="likes">309 Likes</div>
                </div>
                <div class="post-description">
                  Fantastic Architecture #architecture #testing
                  <div class="date">September 16, 2014</div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <div class="post-box">
                <div class="image-wrap">
                  <img src="<%= "/user_images/default_user.png" %>">
                  <div class="likes">309 Likes</div>
                </div>
                <div class="post-description">
                  Fantastic Architecture #architecture #testing
                  <div class="date">September 16, 2014</div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
